#portfolio {
  background-color: white;
  padding: 48px;

  border-radius: 25px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    gap: 10px;

    h2 {
      font-size: 50px;
      font-weight: 700;
    }

    button {
      background-color: transparent;
      border: 1px solid black;
      padding: 8px 32px;
      font-size: 20px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      color: black;

      &:hover {
        background-color: black;
        color: white;

        .icon {
          color: white;
        }
      }

      .icon {
        font-size: 30px;
      }
    }
  }


  .box {
    position: relative;
    aspect-ratio: 1/1;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    object-fit: cover;
  }

  .layer {
    position: absolute;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    aspect-ratio: 1/1;
  }

  .wp {
    position: relative;
  }

  .textWrapper {
    color: white;
    background-color: #60B5AD;
    position: absolute;
    bottom: -190px;
    z-index: 10;
    padding: 16px 24px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background-color: transparent;
      padding: 4px 16px;
      border: 1px solid white;
      color: white;
      border-radius: 30px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &:hover {
        background-color: #559f98;

        .icon {
          color: white;
        }
      }

      span {
        cursor: pointer;
      }
    }

    .icon {
      font-size: 30px;
    }
  }

  .textWrapper1 {
    bottom: 0;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-weight: 300;
    margin-top: -10px;
  }

  @media screen and (max-width: 992px) {
    padding: 8px;

    .wrapper {
      margin: 20px 0 10px;

      h2 {
        font-size: 25px;
      }

      button {
        font-size: 14px;
        padding: 4px 16px;
        gap: 10px;
      }
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-weight: 300;
      margin-top: 0;
      font-size: 13px;
    }
  }
}